<!DOCTYPE html>
<html>
<head>
    <title>Main Template</title>
</head>
<body>
    {% if nav_menu == 'Secuencial' %}
    <div id="ActivitySequential" style="display: none;">{{ data_sequential|safe }}</div>
    {% elif nav_menu == 'Global' %}
    <div id="ActivityGlobal" style="display: none;">{{ data_global|safe }}</div>
    {% endif %}
    evaluacion: 
    <div id="diagnosisStateEvaluation" style="display: none;"> {{ data_incorrect_answer|safe }} </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var activitySequential = document.getElementById('ActivitySequential');
            var activityGlobal = document.getElementById('ActivityGlobal');
            var diagnosisStateEvaluation = document.getElementById('diagnosisStateEvaluation');
            
            if (activitySequential) {
                activitySequential.style.display = 'block';
            }
            if (activityGlobal) {
                activityGlobal.style.display = 'block';
            }
            if (diagnosisStateEvaluation){
                diagnosisStateEvaluation.style.display = 'block'
            };
           

        });



    </script>
</body>
</html>
