<!DOCTYPE html>
<html>
<head>
    <title>Initial Assessment and Goal Setting</title>
</head>
<body>
    <h1>Initial Assessment and Goal Setting</h1>
    <form action="" method="post">
        <p>1: Seleccione el nivel que mas describa tu familiaridad con el cambio climatico</p>
        <label><input type="radio" name="familiaridad" value="">Muy familiar</label><br>
        <label><input type="radio" name="familiaridad" value="">Regularmente familiar</label><br>
        <label><input type="radio" name="familiaridad" value="">No tan familiar</label><br>
        <label><input type="radio" name="familiaridad" value="">Nunca lo he escuchado</label><br>

        <input type="submit" value="Submit">
    </form>

    <!--<p>1: Seleccione el nivel que mas describa tu familiaridad con el cambio climatico</p>
    <label><input type="radio" name="familiaridad" value="">hola</label><br>
    <label><input type="radio" name="familiaridad" value="">hola</label><br>
    <label><input type="radio" name="familiaridad" value="">hola</label><br>
    <label><input type="radio" name="familiaridad" value="">hola</label><br>

    <p>2: Seleccione el nivel que mas describa tu familiaridad con el cambio climatico</p>
    <label><input type="radio" name="familiaridad" value="">hola</label><br>
    <label><input type="radio" name="familiaridad" value="">hola</label><br>
    <label><input type="radio" name="familiaridad" value="">hola</label><br>
    <label><input type="radio" name="familiaridad" value="">hola</label><br> -->
</body>
</html>
